<div class="forecast">
  <ul class="forecast__grid">
    <li class="forecast__day">
      <div class="forecast__label">jutro</div>
      <div class="forecast__icon">ikona</div>
      <div class="forecast__temp">{{ avgTemps[1] }} °C</div>
    </li>

    <li class="forecast__day">
      <div class="forecast__label">pojutrze</div>
      <div class="forecast__icon">ikona</div>
      <div class="forecast__temp">{{ avgTemps[2] }} °C</div>
    </li>

    <li class="forecast__day">
      <div class="forecast__label">za 3 dni</div>
      <div class="forecast__icon">ikona</div>
      <div class="forecast__temp">{{ avgTemps[3] }} °C</div>
    </li>
  </ul>
</div>
